
.proyectsSc{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.5rem;
}

.imgPro{
  width: 10rem;
  border-radius: 0.4rem;
  border-right: 4px solid #40867d;
}

.proyectContainer{
  text-decoration: none;
  color: inherit;
  background-color: #FF6B6B90;
  border: 2px solid #40867d;
  display: flex;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.5);
}

.proyectDesCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
}

.targetProy{
  display: flex;
  gap: 2rem;
  justify-content: center;
}
